<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
    <link rel="stylesheet" href="{{ url_for('static', path='app_style.css') }}">
</head>
<body>
    <h1>"ABC" Schedule</h1>
    <table>
        {% for row in data %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <form action="/download_xlsx" method="get">
        <button type="submit">Download Schedule</button>
    </form>
</body>
</html>